p {
    font-family: Arial;
    width: 280px;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(0, 0, 0);
}

body {
    margin: 0;
    padding-top: 180px;
    padding-left: 145px;
    padding-right: 24px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 800px;
    background-image: none;
}
